<tr>
    <td class="px-6 py-3">
        <div class="text-sm text-gray-900"> <%= article.title %></div> 
    </td>
    <td class="px-6 py-3">
        <div class="text-sm text-gray-900"> <%= article.description %></div> 
    </td>
    <td class="px-6 py-3">
        <%= link_to "Show", article_path(article), class: "text-indigo-600 hover:text-indigo-900 mx-4" %>
        <%= link_to "Edit", edit_article_path(article), class: "text-indigo-600 hover:text-indigo-900 mx-4" %>
        <%= link_to "Delete", article_path(article), data: { "turbo-method": :delete, "turbo-confirm": "are you sure?" }, class: "text-red-600 hover:text-red-700 mx-4" %>
    </td>
</tr>