<%= render 'shared/errors', obj: @article %>
<%= form_with model: @article, local: true, class: "mb-4" do |f| %>
  <div class="my-4 flex flex-col items-start">
    <%= f.label :title, class: "text-gray-700 font-bold" %>
    <%= f.text_field :title, class: "my-2 border-gray-400 border-solid border-b outline-0", placeholder: "Add Title" %>
  </div>
  <div class="my-4 flex flex-col items-start">
    <%= f.label :description, class: "text-gray-700 font-bold" %>
    <%= f.text_area :description, class: "my-2 border-gray-400 border-solid border rounded p-2 outline-0 resize-none", placeholder: "Add Description"%>
  </div>
  <div>
    <%= f.submit class: "inline-flex bg-green-800 hover:bg-green-900 text-white font-bold py-2 px-4 mr-4 rounded" %>
    <%= render 'shared/back-btn', title: "Back to Articles", path: articles_path%>
  </div>
<%end%>
