<h1>Add New Article</h1>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <div>
        <%= f.label :title %>
        <br>
        <%= f.text_field :title %>
    </div>
    <br>
    <div>
        <%= f.label :description %>
        <br>
        <%= f.text_area :description %>
    </div>
    <br>
    <div>
        <%= f.submit %>
    </div>
<%end%>
<br>
<%= link_to "Back", articles_path %>